
<div class="field">
<%= f.label :question_text, "Question Text:" %><br>
<%= f.text_field :question_text %>
</div>
<div class="field">
<%= f.label :allow_comments, "Allow Comments?" %><br>
<%= f.check_box :allow_comments %>
</div>