<h1>Welcome to Deligo!</h1>
<h4>Deligo is an application created to assist in quick decision making.</h4> 
<h4>Having trouble deciding between multiple valid options? Then post your question along with those options to friends or public users so they can help you choose! It's up to you whether you'd like to provide pictures of the options or allow answerers to provide a comment in support of their choice. No getting off topic or making things more difficult by adding more options!</h4>
<h4>Want to help those you know to make decisions or answer questions on a topic you like? Then go through and answer the questions available to you or search for specific kinds of questions to answer.</h4>
<h4>Check out your statics on questions asked, questions answered, and the final results of choices.</h4>

