<div class="center jumbotron">
  <%= image_tag("newdeligologo.png")%>

<% if !logged_in? %>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <%= link_to 'Start Answering Questions', answering_question_path, :id => @questions.first,class: "btn btn-lg btn-primary"  if @questions %>
  <% end %>
</div>
