<div class="center jumbotron">
  <%= image_tag("deligologo2.png")%>

  <h2>
    Welcome to the home page of Deligo
  </h2>

  <% if logged_in?%>
  <!-- need to populate questions -->
  <% else %>
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <br>
</div>
