<div class="center jumbotron">
  <%= image_tag("newdeligologo.png")%>

  <h2>
    Welcome to the home page of Deligo
  </h2>

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  <br>
</div>
